@model IEnumerable<ViewForApi.Models.OrderTotal>

@{
    ViewData["Title"] = "Index";
}


<h1>Customer Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Order Created
            </th>
            <th>
                Order Total
            </th>
            <th>
                Item
            </th>
            <th>
                Sub-Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.CreatedDate)</p>
            </td>
            <td>
                <p><b>£@Html.DisplayFor(modelItem => item.Price)</b></p>
            </td>
            <td>
                @foreach (var lines in item.OrderLines)
                {
                    <p>@Html.DisplayFor(modelItem => lines.Product.Name)</p>
                }
            </td>
            <td>
                @foreach (var lines in item.SubTotal)
                {
                    <p><b>£@Html.DisplayFor(modelItem => lines.Value)</b></p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
